<ion-header>
  <ion-toolbar>
    <ion-title>
      Exif-Reader
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" color="primary" (click)="onPickImage()" *ngIf="!selectedImage">
    <ion-icon name="cloud-upload" slot="start"></ion-icon>
    <ion-label>Upload Pictures</ion-label>
  </ion-button>

  <div *ngFor="let image of filesPickuped; let idx = index">
    <h6>{{image?.name}}</h6>
    <ion-img class="ionImg" (click)="onPickImage()" [src]="image?.data" *ngIf="filesPickuped"></ion-img>
    <ion-list>
      <ion-item>
        <ion-label>Date : </ion-label>
        {{image?.date}}
      </ion-item>
      <ion-item>
        <ion-label>Size in Mo : </ion-label>
        {{image?.size}}
      </ion-item>
      <ion-item>
        <ion-label>Image Height : </ion-label>
        {{image?.imageHeight}}
      </ion-item>
      <ion-item>
        <ion-label>Image Width : </ion-label>
        {{image?.imageWidth}}
      </ion-item>
      <ion-item *ngIf="image.gpsLatitude">
        <ion-label>Google Map : </ion-label>
        <a href="http://www.google.com/maps/place/{{image.gpsLatitude}},{{image.gpsLongitude}}" target="_blank">
          <ion-icon name="map"></ion-icon>
        </a>
      </ion-item>
    </ion-list>
    
  </div>


  <input type="file" multiple name="photo" (change)="onFileChosen($event)" #filePicker />

</ion-content>